

/* single bg color */
/* body{
    background-color: lightcoral;
}
h1{
    background-color: lightblue;
} */

/* multicolor bg */
/* h1{
    background-image:linear-gradient(to right,red,orange,lightblue) ;
} */

/* img in bg */
body{
    background-image: url('../assets/products/product-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}